img {
  display: inline-block;
  max-width: 100%;
}

.body {
  padding: 0px;
  background-color: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
}

.container {
  padding: 23px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.title-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
}

.title-header.border-bottom {
  margin-bottom: 19px;
  border-bottom: 1px solid #ddd;
}

.title-icon {
  margin: 13px 13px 13px 9px;
  float: left;
}

.title-title {
  margin-top: 14px;
  margin-bottom: 0px;
  color: #056841;
}

.title-subtitle {
  color: #838383;
}

.subjects-heading {
  padding-top: 23px;
  padding-bottom: 23px;
  color: #595b69;
  font-size: 30px;
  text-align: center;
}

.subjects-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.subject-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 270px;
  margin-right: 12px;
  margin-bottom: 46px;
  margin-left: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 8px;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  color: #fff;
  text-align: center;
}

.subject-box:hover {
  -webkit-transform: translate(0px, -9px) scale(1.05);
  -ms-transform: translate(0px, -9px) scale(1.05);
  transform: translate(0px, -9px) scale(1.05);
}

.subject-box.c1 {
  background-image: -webkit-radial-gradient(circle farthest-corner at 50% 50%, rgba(0, 0, 0, .6), transparent), url('../images/compsci.jpeg');
  background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(0, 0, 0, .6), transparent), url('../images/compsci.jpeg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.subject-box.c2 {
  background-image: -webkit-radial-gradient(circle farthest-corner at 50% 50%, rgba(0, 0, 0, .6), transparent), url('../images/green-leaves-nature-57436.jpg');
  background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(0, 0, 0, .6), transparent), url('../images/green-leaves-nature-57436.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.subject-box.c3 {
  background-image: -webkit-radial-gradient(circle farthest-corner at 50% 50%, rgba(0, 0, 0, .6), transparent), url('../images/pexels-photo-220989.jpeg');
  background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(0, 0, 0, .6), transparent), url('../images/pexels-photo-220989.jpeg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.subject-box.c4 {
  background-image: -webkit-radial-gradient(circle farthest-corner at 50% 50%, rgba(0, 0, 0, .6), transparent), url('../images/pexels-photo-574345.jpeg');
  background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(0, 0, 0, .6), transparent), url('../images/pexels-photo-574345.jpeg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.subject-box-title {
  margin-top: 0px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}

.back-button {
  margin-top: 13px;
  margin-right: 29px;
  padding: 13px 22px 13px 34px;
  float: right;
  border: 3px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  background-image: url('../images/Arrow-Left.svg');
  background-position: 17px 50%;
  background-size: auto 20px;
  background-repeat: no-repeat;
  -webkit-transition: border 200ms ease, background-color 200ms ease, color 200ms ease;
  transition: border 200ms ease, background-color 200ms ease, color 200ms ease;
  color: #838383;
}

.back-button:hover {
  border-color: #c5e4d8;
  background-color: #f2fdec;
  color: #056841;
}

.back-button.top-wide {
  margin-right: 0px;
  margin-left: 0px;
  float: none;
}

.title-text-container {
  margin-left: 14px;
}

.subject-title {
  max-width: 600px;
  min-height: 90px;
  margin-top: 12px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1px;
  border-radius: 16px;
  background-image: -webkit-radial-gradient(circle farthest-corner at 50% 50%, rgba(0, 0, 0, .5), transparent), url('../images/pexels-photo-220989.jpeg');
  background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(0, 0, 0, .5), transparent), url('../images/pexels-photo-220989.jpeg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  color: #fff;
  text-align: center;
}

.subject-title-header {
  font-weight: 400;
}

.package-select-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  border-top: 1px solid #ddd;
}

.package-select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  min-height: 150px;
  margin: 14px 13px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.package-select-image {
  display: inline-block;
  width: 200px;
  background-image: url('../images/dna-1388696_1280.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.package-select-text {
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 12px;
  padding-left: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.package-select-header {
  margin-top: 10px;
  margin-bottom: -1px;
  color: #056841;
  font-size: 23px;
}

.package-select-subtext {
  color: #82ca7f;
  font-size: 11px;
}

.package-select-description {
  margin-bottom: 4px;
}

.package-select-button {
  margin-top: 6px;
  padding-right: 31px;
  border-radius: 8px;
  background-color: #59d880;
  background-image: url('../images/Arrow-Right-White.svg');
  background-position: 78% 50%;
  background-size: auto 15px;
  background-repeat: no-repeat;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.package-select-button:hover {
  background-color: #4ec372;
}

.package-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 240px;
  margin: 14px 0px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.package-title-header {
  margin-top: 21px;
  margin-bottom: 13px;
  color: #056841;
  font-size: 43px;
  line-height: 46px;
}

.package-title-subtext {
  margin-bottom: 11px;
  color: #82ca7f;
  font-size: 13px;
}

.package-title-text {
  display: block;
  padding-right: 10px;
  padding-bottom: 12px;
  padding-left: 23px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.package-title-description {
  margin-bottom: 4px;
  font-size: 16px;
}

.activity-select {
  margin-right: 60px;
  margin-bottom: 17px;
  margin-left: 60px;
  padding: 20px 42px;
  border: 1px solid #34c260;
  border-radius: 23px;
  background-color: #f8ffff;
  background-image: url('../images/Arrow_Right_Green.svg');
  background-position: 98% 50%;
  background-size: auto 15px;
  background-repeat: no-repeat;
  -webkit-transition: background-color 200ms ease, border 200ms ease;
  transition: background-color 200ms ease, border 200ms ease;
  color: #056841;
  font-size: 23px;
}

.activity-select:hover {
  border-color: #00995d;
  background-color: #eff;
}

.view-content {
  display: block;
  width: 100%;
  min-height: 240px;
  margin: 0px;
  padding: 9px 14px 9px 32px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fff;
}

.content-package {
  width: 50%;
  margin-top: 9px;
  padding-bottom: 4px;
  border-bottom: 1px solid #ddd;
  color: #59d880;
  font-size: 20px;
  font-weight: 600;
}

.content-heading {
  margin-top: 5px;
  color: #056841;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
}

.content {
  margin-top: 59px;
}

.ch-content-image {
  border-radius: 16px;
}

.ch-content-heading {
  color: #056841;
}

.content-footer {
  display: block;
  margin-top: 14px;
  padding-right: 125px;
  padding-left: 125px;
}

.content-footer-link {
  margin-right: 8px;
  margin-left: 8px;
  color: #59d880;
}

.content-footer-nav {
  display: inline-block;
  float: right;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.circle {
  margin-right: 9px;
  margin-left: 9px;
}

.package-title-image {
  display: inline-block;
  width: 240px;
  background-image: url('../images/dna-1388696_1280.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.body-coming {
  background-image: url('../images/BitsproutComing.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  width: 550px;
  height: 130px;
  margin-top: 71px;
  margin-left: 48px;
  border-radius: 8px;
  background-color: hsla(0, 0%, 100%, .95);
  background-image: url('../images/BitSproutLogo.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: -4px 8px 15px 0 rgba(5, 24, 16, .43);
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.desc {
  position: absolute;
  bottom: 0px;
  display: block;
  width: 50%;
  height: 160px;
  padding-right: 36px;
  padding-left: 36px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top-right-radius: 16px;
  background-color: hsla(0, 0%, 100%, .95);
  font-family: 'Open Sans', sans-serif;
  color: #056841;
}

.paragraph {
  color: #000;
}

@media (max-width: 991px) {
  .back-button.top-wide {
    text-align: center;
  }
  .package-select {
    width: 95%;
  }
  .package-select-image {
    width: 180px;
  }
  .package-select-text {
    padding-bottom: 11px;
  }
  .package-select-button {
    margin-top: 5px;
  }
  .package-title-text {
    padding-bottom: 11px;
  }
  .activity-select {
    margin-right: 36px;
    margin-left: 36px;
    padding-left: 29px;
  }
  .content-footer {
    padding-right: 39px;
    padding-left: 39px;
  }
  .package-title-image {
    width: 240px;
  }
  .logo {
    width: 420px;
    margin-top: 31px;
    margin-left: 3px;
  }
  .desc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 120px;
  }
  .footer-heading {
    margin-right: 21px;
  }
}

@media (max-width: 767px) {
  .subject-title {
    padding-bottom: 14px;
  }
  .package-select {
    width: 95%;
  }
  .package-select-image {
    width: 180px;
    height: 200px;
  }
  .package-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .activity-select {
    margin-right: 8px;
    margin-left: 8px;
    padding-left: 23px;
  }
  .view-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .content-footer {
    text-align: center;
  }
  .content-footer-nav {
    display: block;
    margin-top: 14px;
    float: none;
    text-align: center;
  }
  .package-title-image {
    width: auto;
    height: 200px;
  }
  .logo {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 0px;
    background-size: contain;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .desc {
    width: 100%;
    height: auto;
    border-top-right-radius: 0px;
  }
}

@media (max-width: 479px) {
  .title-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .title-header.border-bottom {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .title-icon {
    float: none;
  }
  .title-title {
    font-size: 24px;
    line-height: 28px;
  }
  .title-text-container {
    margin-left: 0px;
  }
  .subject-title {
    margin-top: 21px;
    margin-bottom: 12px;
  }
  .package-select {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .package-select-image {
    width: auto;
    height: 230px;
  }
  .package-select-text {
    padding-bottom: 25px;
  }
  .package-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .package-title-header {
    font-size: 32px;
    line-height: 34px;
  }
  .activity-select {
    background-position: 92% 50%;
  }
  .view-content {
    padding-left: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .content-package {
    width: 100%;
  }
  .content-heading {
    font-size: 34px;
    font-weight: 600;
  }
  .content-footer-link {
    display: inline-block;
    margin-top: 13px;
  }
  .circle {
    display: none;
  }
  .package-title-image {
    width: auto;
    height: 230px;
  }
  .logo {
    height: 80px;
  }
  .desc {
    display: block;
  }
  .paragraph {
    font-size: 13px;
  }
  .footer-heading {
    font-size: 28px;
  }
}

